body{
    background: url('backgroundsnakegame.webp') no-repeat;
}

main{
    margin-left: 500px;
    height: 95vh;
    display: flex;
    align-items: center;
    color: green;
}

h1{
    margin: 50px;
}